<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Datatable - srtdash</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/assets//images/icon/favicon.ico">
  <link rel="stylesheet" href="/assets//css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets//css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets//css/themify-icons.css">
  <link rel="stylesheet" href="/assets//css/metisMenu.css">
  <link rel="stylesheet" href="/assets//css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets//css/slicknav.min.css">
  <!-- amcharts css -->
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <!-- Start datatable css -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="/assets//css/typography.css">
  <link rel="stylesheet" href="/assets//css/default-css.css">
  <link rel="stylesheet" href="/assets//css/styles.css">
  <link rel="stylesheet" href="/assets//css/responsive.css">
  <!-- modernizr css -->
  <script src="/assets//js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
  <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
  <!-- sidebar menu area start -->
  <div class="sidebar-menu">

    <div class="sidebar-header">
      <div class="logo">
        <a href="index.html"><img src="/assets/images/icon/cnorris.png" alt="logo"></a>
      </div>
    </div>
    <div style="margin-left: 10px;">
      <%=  form_with url:change_locale_url do |form| %>
        <%= hidden_field_tag 'locale', t('locale_choice')  %>
        
        <% if I18n.locale == I18n.default_locale %>
          <%= form.submit t("change_locale"), class: 'btn btn-success' %>
        <% else %>
          <%= form.submit t("change_locale"), class: 'btn btn-danger' %>
        <%end%>
      <% end %>
    </div>

    <div class="main-menu" style="margin-left: 10px;">
      <div class="menu-inner">
        <nav>
          <ul class="metismenu" id="menu">
            <li>
              <h5 style="color: white"><%= t('.obtain_random_phrase') %></h5>
              <%= form_with do |form| %>
                <%= hidden_field_tag 'type', 'random'  %>
                <%= form.submit t("randon_search"), class: 'btn btn-primary mt-4 pr-4 pl-4' %>
              <% end %>
            </li>

            <li>
              <h5 style="color: white; margin-top: 10px"><%= t('.obtain_phrase_by_category') %></h5>
              <%= form_with do |form| %>
                <%= hidden_field_tag 'type', 'category'  %>
                <%=
                  form.select(
                    :category_input,
                    options_for_select(@categories),
                  { include_blank: t("Select_category") }, { class: 'custom-select'}
                  )%>

                <%= form.submit t("category_search"), class: 'btn btn-primary mt-4 pr-4 pl-4' %>
              <% end %>

            </li>
            <li>
              <h5 style="color: white; margin-top: 10px"><%= t('.obtain_phrase_by_text') %></h5>
              <%= form_with do |form| %>
                <%= hidden_field_tag 'type', 'text'  %>
                <%= form.text_field :text_input, class: "form-control" %>
                <%= form.submit t("text_search"), class: 'btn btn-primary mt-4 pr-4 pl-4' %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <!-- sidebar menu area end -->

  <!-- main content area start -->
  <div class="main-content">

    <div class="main-content-inner">
      <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title"><%= t('.chuck_norris_datatable') %></h4>
              <div>
                <% if defined? @chuck_result %>
                  <%=  form_with url:chuck_send_email_url do |form| %>
                    <div class="row" style="margin: 10px">
                      <%= hidden_field_tag 'id_request', @request_made.id  %>
                      <div class="col-4">
                        <%= form.email_field :email_to_send, class: "form-control", placeholder: t("introduce_your_email") %>
                      </div>
                      <div class="col-4">
                        <%= form.submit t("send_result_to_email"), class: 'btn btn-primary' %>
                      </div>
                    </div>



                  <% end %>
                <% end %>

              </div>
              <div class="data-tables">

                <table id="chuck_result" class="text-center">
                  <thead class="bg-light text-capitalize">
                  <tr>
                    <th><%= t('.wisdom_chuck') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if defined? @chuck_result %>
                    <% @chuck_result.each do |chuck_single_element| %>
                    <tr>
                      <td><%= chuck_single_element['value'] %></td>
                    </tr>
                    <% end %>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <!-- data table end -->
      </div>
    </div>
  </div>
  <!-- main content area end -->
</div>
<!-- page container area end -->



<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<!-- others plugins -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>

</html>
