<%= t('here_is_your_chuck_wisdom') %>>
===============================================

<%= @search_result['chuck_list'].each do |chuck_single_element| %>
<%= chuck_single_element['value'] %>
<% end %>